<p id="notice"><%= notice %></p>

<h1>Users</h1>
<%= link_to 'New User', new_user_path, id: "add_name_link", remote: true %>


<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="2">user option</option></th>
      <th > phones</th>
    </tr>
  </thead>
  <% @users.each do |user| %>
  <%= render "user", user: user%>
  <% end %>
</table>

<div id="added_name">

</div>
<p>
<%=button_to "download my phone book", download_path(format: :csv) ,method: :get%><br>
</p>


<%= form_tag upload_path, multipart: true do %>
  <%= file_field_tag :file %>
  <%= submit_tag "upload phone book" %>
<% end %>
